@keyframes pulse {
  0%    {transform: scale(1);}
  10%   {transform: scale(1.005);}
  20%   {transform: scale(1.01);}
  30%   {transform: scale(1.015);}
  40%   {transform: scale(1.02);}
  50%   {transform: scale(1.025);}
  60%   {transform: scale(1.02);}
  70%   {transform: scale(1.015);}
  80%   {transform: scale(1.01);}
  90%   {transform: scale(1.005);}
  100%  {transform: scale(1);}
}
@keyframes title-pulse {
  0%    {transform: scale(1);}
  10%   {transform: scale(1.02);}
  20%   {transform: scale(1.04);}
  30%   {transform: scale(1.06);}
  40%   {transform: scale(1.08);}
  50%   {transform: scale(1.1);}
  60%   {transform: scale(1.08);}
  70%   {transform: scale(1.06);}
  80%   {transform: scale(1.04);}
  90%   {transform: scale(1.02);}
  100%  {transform: scale(1);}
}
@keyframes colors {
  0%    {color: #FF475B;}
  30%   {color: #FF475B;}
  33%   {color: #FFA800;}
  64%   {color: #FFA800;}
  67%   {color: #28A63B;}
  97%   {color: #28A63B;}
  100%  {color: #FF475B;}
}
body {
  margin: 0;
}
#board {
  margin: 0 auto;
  border-radius: 25px;
  border: 3px solid #333;
  box-shadow: 3px 3px 5px #333;
  height: 500px;
  width: 960px;
}
h1 {
  text-align: center;
  font-family: 'Permanent Marker', sans-serif;
  animation: title-pulse 1s infinite, colors 12s infinite;
}
h2 {
  margin-top: 0;
  padding: 20px 0 20px 0;
  text-align: center;
  position: fixed;
  width: inherit;
  background-color: #FFA800;
  font-family: 'Permanent Marker', sans-serif;
}
#new {
  border-radius: 21px 0 0 0;
  background-color: #FF475B;
}
#cmplt {
  border-radius: 0 21px 0 0;
  width: inherit;
  background-color: #28A63B;
}
h3 {
  margin: 0;
  font-family: 'Permanent Marker', sans-serif;
}
p {
  margin: 0;
  font-family: 'Gloria Hallelujah', sans-serif;
}
ul {
  margin-top: 100px;
  padding: 0;
}
li {
  list-style: none;
}
#new-card {
  top: 25%;
  width: 900px;
  margin: 0 auto;
  height: 30px;
  border-radius: 10px;
}
.new-card-info {
  width: 20%;
  display: inline-block;
}
.card-info {
  border: none;
  width: 95%;
  height: 25px;
  font-size: 16px;
  padding-left: 2.5%;
  border-radius: 10px;
  font-family: 'Gloria Hallelujah', sans-serif;
  text-align: center;
}
.card-info:focus {
  outline: none;
}
#errr {
  text-align: center;
  width: 20%;
  padding-left: 2.5%;
  height: 30px;
  margin: 0 auto;
  color: #FF475B;
}
#add-card {
  border-radius: 7.5px;
  height: 30px;
  line-height: 25px;
  width: 95%;
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 20px;
  animation: pulse 1s infinite;
  background-color: #FF475B;
}
button:focus {
  outline: none;
}
#queue {
  height: 100%;
  width: 318px;
  float: left;
  overflow: scroll;
}
#doing {
  height: 100%;
  width: 318px;
  display: inline-block;
  border-right: 3px solid #333;
  border-left: 3px solid #333;
  overflow: scroll;
}
#done {
  height: 100%;
  width: 318px;
  display: inline-block;
  overflow: scroll;
}
.card {
  border-radius: 10px;
  width: 275px;
  text-align: center;
  margin: 5px auto;
}
.arrow-right-queue {
  margin: 2.5% auto 0 auto;
  cursor: pointer;
  background-color: #FFA800;
  border-radius: 10px;
}
.arrow-left-doing {
  margin: 2.5% auto 0 auto;
  cursor: pointer;
  background-color: #FF475B;
  border-radius: 10px 0 0 10px;
  border-right: none;

}
.arrow-right-doing {
  margin: 2.5% auto 0 auto;
  cursor: pointer;
  background-color: #28A63B;
  border-radius: 0 10px 10px 0;
  border-left: none;
}
.arrow-left-done {
  margin: 2.5% auto 0 auto;
  cursor: pointer;
  background-color: #FFA800;
  border-radius: 10px;
}
.dlt-btn {
  border: none;
  font-family: 'Permanent Marker', sans-serif;
  background-color: transparent;
  font-size: 14px;
  color: #787878;
  cursor: pointer;
}
.dlt-btn:hover {
  color: #FF475B;
}